$black: #232323;
$background: #ffdf8c;
$gray-line: #f6f6f6;
$orange: #fe5f1e;
$orangeRGB: rgb(254, 95, 30);
$orange-hover: #e5571f;

$content-width: calc(100vw - 100px);
$content-max-width: 1400px;
$container-width: 90%;
$border-radius: 10px;

$duration: 0.15s;
